h2{font-family:華康秀風體W3;font-size: 35pt;color:#c0c0c0;font-weight:900}

#run{font-family:華康秀風體W3;font-size: 25pt;color:#b0e0e6}
#HI{font-family:華康秀風體W3;font-size: 25pt;color:#e6e6fa}
#purple{font-family:華康秀風體W3;font-size:25pt;color:#d8bfd8}
#in{font-family:華康秀風體W3;font-size:20px;color:#fdf5e6} 
#interest{font-family:華康秀風體W3;font-size:25pt;color:#b0c4de}
<style>
a {
    color:#ffb6c1;
}
</style>

